<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>İnternet Teknolojileri (3-4-5) | Anasayfa
    </title>
    <link rel="stylesheet" href="assets/css/bulma.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/fontawesome/js/all.js">//Fontawesome JS</script>
</head>
<body>
<div class="content-wrapper">
    <section class="hero is-landing is-large">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                           Halil İbrahim Yılmaz
                        </a>
                        <span class="navbar-burger burger" data-target="mainNavbar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                </div>
            </nav>
        </div>
    </section>
    <section class="bg-light">
        <div class="container section">
            <div class="content has-text-centered">
                <h1>Site Sayfaları</h1>
            </div>
            <nav class="columns">
                <div class="column has-text-centered">
                    <article class="media">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <i class="fas fa-cog fa-3x"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h4 class="heading"><strong>Sanatçı Sayfaları</strong></h4>
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                <tbody>
                                    <tr>
                                      <td><a href="http://34.74.77.145/sanatci">Sanatçı Ekle</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://34.74.77.145/sanatci">Sanatçı Güncelle</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://34.74.77.145/sanatci">Sanatçı Sil</a></td>
                                    </tr>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="column has-text-centered">
                    <article class="media">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <i class="fas fa-cog fa-3x"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                 <div class="content">
                                <h4 class="heading"><strong>Albüm Sayfaları</strong></h4>
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                <tbody>
                                    <tr>
                                      <td><a href="http://34.74.77.145/album">Albüm Ekle</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://34.74.77.145/album">Albüm Güncelle</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://34.74.77.145/album">Albüm Sil</a></td>
                                    </tr>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column has-text-centered">
                    <article class="media">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <i class="fas fa-cog fa-3x"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                     <div class="content">
                                <h4 class="heading"><strong>Müzik Türü Sayfaları</strong></h4>
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                <tbody>
                                    <tr>
                                      <td><a href="http://34.74.77.145/muziktur">Müzik Türü Ekle</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://34.74.77.145/muziktur">Müzik Türü Güncelle</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://34.74.77.145/muziktur">Müzik Türü Sil</a></td>
                                    </tr>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>
            </nav>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>Halil İbrahim Yılmaz - HR180015 - &copy; Copyrights - 2018</p>
                <p>İnternet Teknolojileri 3-4-5. Ödev</p>
            </div>
        </div>
    </footer>
</div>

</body>
</html>